spring:
  datasource:
    url: jdbc:mysql://profroid-mysql:3306/profroiddb
    username: profroid
    password: profroid
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080
