name: YamlLint GitHub Actions

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  yaml-lint:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install yamllint
        run: sudo apt-get install -y yamllint

      - name: Run yamllint
        run: yamllint .
